body{
    background-color:#da745dcb;
}
table{
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:16px;
    font-family: 'Muli';
}
Button[type=submit],#add_item {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#remove_item {
    width: 150px;
    background-color: #cf3636;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select {
    background-color: #05af4c;
    color: white;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 16px;
    font-family: 'Muli';
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
select option {
    padding: 30px;
}